body{
	padding-right: 50px;
	padding-left: 50px;
	background: #000000;
	background: url("background.png");
	color: white;

}
h1 {
	text-align: center;
}

.paging {
	text-align: right;
}

#thumbnail {
	float: left;
	margin-right: 10px;
}

