<!DOCTYPE html>
<html ng-app="blizz">
<head>
    <meta charset="utf-8" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

   <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!--<script type='text/javascript' src='https://api.stackexchange.com/js/2.0/all.js'></script>-->
        <script type='text/javascript' src='custom.js'></script>
  <link rel="stylesheet" type="text/css" href="custom.css">


</head>
<body>
	<title>Blizzard Stack Exhange</title>
	<!-- nav bar -->
	<nav-bar></nav-bar>


      <!-- question header -->
      <div class="well" id="questionHeader">
        <h1>Questions</h1>
      </div>
      
    <!-- tabs for different ways to sort -->
  <div class="well question-tabs" id="questionBackground">
    <div class="question-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#new"><h3>Newest</h3></a></li>
        <li><a data-toggle="tab" href="#menu1"><h3>Votes</h3></a></li>
        <li><a data-toggle="tab" href="#menu2"><h3>Answered</h3></a></li>
      </ul>
    </div>

    <div class="tab-content">
      
    <!-- newest first tab -->
      <div id="new" class="tab-pane fade in active">
          <div ng-controller="StoreController as q" >
            <div ng-repeat="product in q.products | orderBy:'-askedOn'">
              <div class="panel panel-default">

                <div class="panel-heading">

                  <h3 class="panel-title">{{product.question}}<div class="pull-right"> Asked By: {{product.askedBy}}</div></h3>
                  {{product.askedOn | date}} <div class="pull-right">Tags: {{product.tag}}</div>
                </div>
                <div class="panel-body">
                <div class="pull-left"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star">Favorite </span></button></div>
 
                <em class="pull-right">Answers: {{product.answers.length}} Votes: {{product.votes}} <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up"></span></button></em>
                    <div class="answer">
                      <ul><br><br>                                                                        
                          <h4> Answers </h4>
                          <li ng-repeat="answer in product.answers">

                          <blockquote>
                            <strong>{{answer.upVotes}} Up Votes</strong> <div class="pull-right"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="">
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button></div>
                            {{answer.body}}
                            <cite class="clearfix">—{{answer.author}}  on {{answer.createdOn | date}}</cite>
                          </blockquote>
                          </li>
                      </ul>

                      <!--  Answer Form -->
                      <form name="reviewForm" role="form" ng-controller="ReviewController as answers" ng-submit="answers.addAnswer(product)">
                      
                      <!--  Live Preview -->
                      <blockquote ng-show="answers.answer.body">
                                
                        {{answers.answer.body}}
                        
                      </blockquote>

                      <!--  Answer Form -->
                      <h4>Submit an Answer</h4>
                              
                        <fieldset class="form-group">
                          <textarea ng-model="answers.answer.body" class="form-control" placeholder="Write an Answer" title="Answer"></textarea>
                        </fieldset>
                             
                        <fieldset class="form-group">
                          <input type="submit" class="btn btn-primary pull-right" value="Submit Answer" />
                        </fieldset>
                      </form>    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


  <!-- by up Vote -->
 <div id="menu1" class="tab-pane fade">
    <div ng-controller="StoreController as q" >
        <div ng-repeat="product in q.products | orderBy:'-votes'">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{product.question}}<div class="pull-right"> Asked By: {{product.askedBy}}</div></h3>
              {{product.askedOn | date}} <div class="pull-right">Tags: {{product.tag}}</div>
            </div>
            <div class="panel-body">
              <div class="pull-left"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star">Favorite </span></button></div>

              <em class="pull-right">Answers: {{product.answers.length}} Votes: {{product.votes}} <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up"></span></button></em>
              <div class="answer">
                <ul><br><br>
                                                                
                  <h4> Answers </h4>
                    <li ng-repeat="answer in product.answers">

                      <blockquote>
                        <strong>{{answer.upVotes}} Up Votes</strong> <div class="pull-right"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="">
                        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button></div>
                        {{answer.body}}
                        <cite class="clearfix">—{{answer.author}}  on {{answer.createdOn | date}}</cite>
                      </blockquote>
                    </li>
                </ul>

                  <!--  Answer Form -->
                  <form name="reviewForm" role="form" ng-controller="ReviewController as answers" ng-submit="answers.addAnswer(product)">
                  <!--  Live Preview -->
                  <blockquote ng-show="answers.answer.body">
                    {{answers.answer.body}}
                    
                  </blockquote>

                  <!--  Answer Form -->
                  <h4>Submit an Answer</h4>
                              
                  <fieldset class="form-group">
                    <textarea ng-model="answers.answer.body" class="form-control" placeholder="Write an Answer" title="Answer"></textarea>
                  </fieldset>
                             
                    <fieldset class="form-group">
                      <input type="submit" class="btn btn-primary pull-right" value="Submit Answer" />
                    </fieldset>
                  </form>    
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  <!-- by how many answers -->
  <div id="menu2" class="tab-pane fade">
    <div ng-controller="StoreController as q" >
      <div ng-repeat="product in q.products | orderBy:'-answers.length'">
          
        <div class="panel panel-default">

          <div class="panel-heading">

            <h3 class="panel-title">{{product.question}}<div class="pull-right"> Asked By: {{product.askedBy}}</div></h3>
              {{product.askedOn | date}} <div class="pull-right">Tags: {{product.tag}}</div>
          </div>
          <div class="panel-body">
              
            <div class="pull-left"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star">Favorite </span></button></div>

              <em class="pull-right">Answers: {{product.answers.length}} Votes: {{product.votes}} <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up"></span></button></em>

              <div class="answer">
                <ul><br><br>
                                                            
                    <h4> Answers </h4>
                      <li ng-repeat="answer in product.answers">

                        <blockquote>
                          <strong>{{answer.upVotes}} Up Votes</strong> <div class="pull-right"><button type="button" class="btn btn-default" aria-label="Left Align" ng-click="">
                          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button></div>
                                  {{answer.body}}
                            <cite class="clearfix">—{{answer.author}}  on {{answer.createdOn | date}}</cite>
                        </blockquote>
                      </li>
                  </ul>

                  <!--  Answer Form -->
                  <form name="reviewForm" role="form" ng-controller="ReviewController as answers" ng-submit="answers.addAnswer(product)">
                  <!--  Live Preview -->
                    <blockquote ng-show="answers.answer.body">
                                
                      {{answers.answer.body}}
                    </blockquote>

                    <!--  Answer Form -->
                    <h4>Submit an Answer</h4>
                              
                      <fieldset class="form-group">
                        <textarea ng-model="answers.answer.body" class="form-control" placeholder="Write an Answer" title="Answer"></textarea>
                      </fieldset>
                             
                      <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right" value="Submit Answer" />
                      </fieldset>
                    </form>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    
  <search-questions></search-questions>

</body>
</html>